
@font-face
{
    font-family: TitleFont;
    src: url('../assets/Marmellata(Jam)_demo.ttf'),
    url('../assets/Marmellata(Jam)_demo.ttf'); /* IE9 */
}

@font-face
{
    font-family: CaptionFont;
    src: url('../assets/Xiomara-Script.ttf'),
    url('../assets/Xiomara-Script.ttf'); /* IE9 */
}

body
{
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px !important;
}


.ui-header {
    height: 80px;
}

.ui-title {
    font-family: captionfont;
    font-size: 250% !important;
    padding-top: 0px !important;
    line-height: 80px;
    position: relative;
    top: -20px;
}

.ui-btn-left {
    position: relative;
    top: 25px !important;
}

.shadow {
    display: block;
    box-shadow: 1px 1px 12px #555;
    margin: auto;
    margin-top: 10px;
}

div.iscroll-scroller {
    background-color: white;
    width: 100%;
}


div.iscroll-content {
    width: 100%;
    padding: 0px !important;
}

ul#thelist {
    list-style:none;
    padding:0;
    margin:0;
    text-align:left;
    width: 100%;

}

ul#thelist li {
    padding:0 10px;
    min-height:40px;
    line-height:40px;
    font-size:14px;
}

ul#thelist div.shadow {
    width: 95%;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#111));
    background-image: -webkit-linear-gradient(#ffffff,#111);
    background-image: -moz-linear-gradient(#ffffff,#111);
    background-image: -ms-linear-gradient(#ffffff,#111);
    background-image: -o-linear-gradient(#ffffff,#111);
    background-image: linear-gradient(#ffffff,#111);
}

ul#thelist img {
    width: 100%;
}


.noNotif {
    min-height: 500px;
    text-align: center;
    border: none;
    background-color: white;
    width: 100% !important;
    display: block;
    color: #aaa;
    font-family: arial;
    font-weight: normal;
}

.noNotif img {
    margin: 40% auto auto !important;
    opacity: 0.5;
    width: 40% !important;
    display: block !important;
    max-height: none !important;
    max-width: none !important;
    position: relative !important;
    float: none !important;
}

div.iscroll-pulldown {
    border-bottom: #c9c9c9 solid 1px;
    border-top: #c9c9c9 solid 1px;
    background-color: #ffffff;
}

div.ui-page {
    background-color: white !important;
}


.elemDetails p {
    font-size: 100%;
}

.elemDetails h2 {
    font-size: 140%;
}

.elemDetails li {
    border: none;
}

.elemDetails {
    display: block;
}

.elemDetails li h2, .elemDetails li p {
    padding: 20px;
    white-space: normal;
}

#elem .iscroll-scroller {
    background-color: #333;
}

#map_canvas {
    height: 500px;
    margin: auto;
    -webkit-box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.89);
    -moz-box-shadow:    0px 3px 10px rgba(50, 50, 50, 0.89);
    box-shadow:         0px 3px 10px rgba(50, 50, 50, 0.89);
    font-weight: normal;
    color: black;
    text-shadow: none;
}

span.caption {
    color:white;
    display: block;
    padding-left: 20px;

    width: 100%;
    position: relative;
    top: -10px;
    left: -10px;
    font-family: captionfont;

    padding-top: 30px;
    font-size: 150%;
    height: 50px;
}

span.caption a {
    font-family: arial;
    margin-right: 20px;
}

#elem #elemTitle {
    font-family: captionfont;
    font-size: 200%;
    font-weight: bold;
}

#elem .elemDetails {
    width: 95%;
    margin: auto;
}

#elemContent {
    text-align: justify;
    margin: auto;
    padding: 0 0 30px !important;
}
