body
{
    font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
    margin: 0px;
    padding: 0px !important;
}

div#container {
    padding-top: 80px;
}

.navbar-inverse {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar-inverse .navbar-inner {
    height: 50px;
    padding-top: 10px;
    border-radius: 0px !important;
}

.navbar-inverse .navbar-inner a.brand {
    font-size: 180%;
}

#loader {
    position: absolute;
    top : 20px;
    left: 130px;
}

@keyframes clign {
    from { opacity: 0.3; }
    50% { opacity: 0.8;}
    to { opacity: 0.3; }
}

@-webkit-keyframes clign {
    from { opacity: 0.3; }
    50% { opacity: 0.8;}
    to { opacity: 0.3; }
}



@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 0; }
    to { opacity: 1.0; }
}

.blink1 {
    animation:fade 1500ms 1;
    -webkit-animation:fade 1500ms 1;
    margin:auto;
    display: block;
    width: 100%;
}

.blinkinf {
    animation:clign 3000ms infinite;
    -webkit-animation:clign 3000ms infinite;
}


#noConnection, #Connection {
    margin-top : 100px;
    font-size: 180%;
    color: #ced5dd;
}

.viewNavigator_header_title {
    font-family: TitleFont2;
    font-size: 200%;
    line-height: 27px;
}

.shadow {
    display: block;
    box-shadow: 1px 1px 12px #555;
    margin: auto;
    margin-top: 10px;
}

div.iscroll-scroller {
    background-color: white;
    width: 100%;
}


div.iscroll-content {
    width: 100%;
    padding: 0px !important;
}

ul#thelist {
    list-style:none;
    padding:0;
    margin:0;
    text-align:left;
    width: 100%;

}

ul#thelist li {
    padding:0 10px;
    min-height:40px;
    line-height:40px;
    font-size:14px;
}

ul#thelist a img {
    width: 85%;
}



.noNotif {
    min-height: 500px;
    text-align: center;
    border: none;
    background-color: white;
    width: 100% !important;
    display: block;
    color: #aaa;
    font-family: arial;
    font-weight: normal;
}

.noNotif img {
    margin: 40% auto auto !important;
    opacity: 0.5;
    width: 40% !important;
    display: block !important;
    max-height: none !important;
    max-width: none !important;
    position: relative !important;
    float: none !important;
}

div.iscroll-pulldown {
    border-bottom: #c9c9c9 solid 1px;
    border-top: #c9c9c9 solid 1px;
    background-color: #ffffff;
}

div.ui-page {
    background-color: white !important;
}